<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Questions" data-toc-modified-id="Questions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Questions</a></span></li><li><span><a href="#Import-modules" data-toc-modified-id="Import-modules-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import modules</a></span></li><li><span><a href="#Read-in-data" data-toc-modified-id="Read-in-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Read in data</a></span></li><li><span><a href="#Analysis" data-toc-modified-id="Analysis-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Analysis</a></span></li></ul></div>

## Questions

- How often have people published datasets in Root dataverse?
    - What are the account types of those users? (shib, orcid, google, github, builtin)
        - Among those users with accounts that are not shib accounts, which have .edu in their email addresses?
    - How often have people created multiple datasets in Root? (User1 published a dataset in Root, then publishes one or more additional datasets in Root. How often does this happen?)

## Import modules

In [3]:
import csv
import pandas as pd

## Read in data

In [6]:
df = pd.read_csv('user_account_publish_data.csv', na_filter = False)
print(df.shape)
df.head(5)

(41522, 9)

,object_id,dtype,publicationdate,parent_dataverse,user_account_id_of_object_creator,user_account_createdate,user_account_type,affiliation,account_email_type
0,2839889,Dataverse,2016-06-08 23:17:02.726,1,14473,2000-01-01 00:00:00,builtin,Stanford University,gmail.com
1,2840637,Dataverse,2017-06-14 17:11:03.269,1,14508,2000-01-01 00:00:00,builtin,,gmail.com
2,644,Dataverse,2011-06-15 07:43:23.703,1,1417,2000-01-01 00:00:00,builtin,International Christian University,icu.ac.jp
3,2840679,Dataverse,2017-06-23 16:35:36.095,1,14507,2000-01-01 00:00:00,builtin,,jhu.edu
4,646,Dataverse,2009-07-29 17:18:41.474,1,1425,2000-01-01 00:00:00,builtin,Harvard University,wjh.harvard.edu

## Analysis

In [ ]:
# Create dataframe showing how often people deposit datasets in Root dataverse over the last two years